<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <title>Equipos</title>
</head>
<body>
    <div class="container mx-auto mt-5">
        <form class="w-75 mx-auto bg-dark p-3 rounded">
            <h1 class="text-light text-center mb-4 fw-bold">Ingresa un resultado</h1>
            <select class="form-select my-2" aria-label="Default select example">
                <option selected>Seleccione un piloto</option>
                {{#each pilotos}}
                <option value=`{{@index}}`>{{this}}</option>
                {{/each}}
            </select>
            <select class="form-select my-2" aria-label="Default select example">
                <option selected>Seleccione una carrera</option>
                {{#each carreras}}
                <option value=`{{@index}}`>{{this.circuito}}</option>
                {{/each}}
            </select>
            <select class="form-select my-2" aria-label="Default select example">
                <option selected>Seleccione una posición de cierre</option>
                {{#each pilotos}}
                <option value=`{{@index}}`>{{suma @index}}</option>
                {{/each}}
            </select>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label text-light" for="flexRadioDefault1">Problemas técnicos ó personales</label>
            </div>
            <div class="form-check mb-2">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                <label class="form-check-label text-light" for="flexRadioDefault2">No</label>
            </div>
            <div class="w-50 mx-auto">
                <button type="submit" class="btn btn-warning w-100">Enviar resultados</button>
            </div>
        </form>
    </div>
</body>
<script src="/js/bootstrap.bundle.min.js"></script>
</html>