{{#> template}}
<h1 class="bg-dark">Ingreso Carreras</h1>
<main class="mainIngreso">
    <form action="resultados-carrera" method="POST" id="ingresoDatos">
        <label for="carrera">Ingresa Carrera: </label>
        <select name="carrera " class="form-select" id="carrera">
            <option>Carrera</option>
            {{#each circuitos}}
                <option>{{carrera}}</option>
            {{/each}}
        </select>
        <table class="table">
        <thead>
            <tr>
            
            <th scope="col">Piloto</th>
            <th scope="col">Tiempo (hh:mm:ss)</th>
            <th scope="col">Abandono</th>
            </tr>
        </thead>
            <tbody>
                {{#each escuderias}}
                <tr>
                    
                    <td><select name="piloto" id="{{numero}}" class="selector form-select">
                            <option >Piloto</option>
                            {{#each pilotos}}
                                <option class="{{piloto}}" value="{{piloto}}">{{piloto}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td>
                        <input type="number"  name="hh" class="tiempo{{numero}} inputTiempo" > :
                        <input type="number"  name="mm" class="tiempo{{numero}} inputTiempo" min="0" max="59"> :
                        <input type="number"  name="ss" class="tiempo{{numero}} inputTiempo" step="any" min="0" max="59.9999">
                    </td>
                    <td>
                        <select name="abandono" class="abandono form-select" id="abandono{{numero}}">
                            <option value="no">No</option>
                            <option value="si">Si</option>

                        </select>
                        
                    </td>
                </tr> 
                
                {{/each}}
            </tbody>
        </table>
        
        <button type="submit" for="ingresoDatos" class="btn bg-danger">Enviar</button>
    </form>
</main>
{{/template}}