{{#>plantillaExterna}}

<h1>Formula 1</h1>
<table id="example">
    {{#each circuitRaces}}
    <tr>
        <td>{{this.name}}</td>
        <td>
            <table>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Minutes</th>
                    <th>Position</th>
                    <th>Points</th>
                </tr>
                {{#each this.pilots}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.name}}</td>
                    <td><a href="#"></a>
                        <input type="text" value="" class="grid-filter"id="id-filter"/></td>
                    <td>{{this.position}}</td>
                    <td>{{this.points}}</td>
                </tr>
                {{/each}}
            </table>
        </td>
    </tr>
    {{/each}}
</table>


{{/plantillaExterna}}
